#fundo {
    background: '#EEE';
    font-family: '"Lucida Console", Monaco, monospace';
    margin: 0;
    padding: 0;
}
h1 {
    background: 'black';
    color: 'white';
    padding: '1rem';
    display: 'inline-block';
}